
    .buffer{
    height:45vh;
    background-image: url("./assets/mv topper.png");
    background-color: #242456;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-size: 100%;
}

p{
    font-size: 2.5vmin;
}

h2{
    font-size: 4vmin;
}
table tr {
  border: 1px solid black;
  padding:3vmin;
  width:100%;
  
  
}

table td {
  /*border: 1px solid black;*/
  padding:5px;
  min-height: 5vh;
  font-size: 3.5vmin;
}

a {
  font-size: 3vmin;
  display: block;
  color:#242456;
  text-decoration: none;
}

table{
    border-style:solid;
    border-color:#242456 ;
    table-layout: fixed ;
  min-width: 58vw;
  min-height: 40vh;
  border-radius: 5vmin;
  border-collapse:separate; 
border-spacing:1em;
  
}
.banner p {
  font-size: 3vmin;
}

.banner a {
  font-size:3vmin;
  color:#242456;
  font-weight:lighter;
  cursor:pointer;
  text-decoration:underline;
}

a:hover {
    font-weight: bolder;

}
.banner1{
  position:fixed;
  left:1vw;
  top:2vh;  
  width: 15vw;
  padding:2vmin;
  border-radius: 8vmin;
  border-style: solid;
  border-color: #242456;
}
body{
  font-family:atlas;
  font-size:25px;
  text-align:center;
  background-color:white;
  max-width:60vw;
  margin:auto;
  color:#242456
}

.info{
    font-size: 2.5vmin;
    color:black;
}


